#left-sidebar {
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: width .3s;
}
ul {
    margin: 0;
    padding: 0;
    width: 100%;
    .navigation {
        margin: 0;
        padding: 0;
    }
}
li {
    width: 100%;
    &::after {
        width: 0%;
        display: block;
        // margin: 8px 0px 0px -20px;
        height: 2px;
        content: "";
        background-color: rgb(255, 255, 255);
        transition: width .3s;
    }
    &:hover::after {
        width: 100%;
    }
    &:focus::after {
        width: 100%;
    }
}
.navigation-link {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 20px 0px 20px 7.5%;
    border: none;
    text-align: left;
    font-size: 1em;
    list-style-type: none;
    background: rgb(45, 45, 45);
    color: rgb(89, 89, 89);
    text-decoration: none;
    line-height: 1;
    &:hover {
        background: rgb(89, 89, 89);
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}