#right-sidebar {
    width: 65%;
    height: 100%;
    transition: width .3s;
    background-color: rgb(45, 45, 45);
    box-sizing: border-box;
    border-left: 2px solid rgb(255, 255, 255);
    transition: width .3s;
    display: flex;
    flex-direction: column;
}